@import '../Var.scss';

.footer{
    color: $ColorBlanco;
    background-color: $ColorContraste;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
}
.footer a{
    text-decoration: none;
    color: $ColorCorazon;
    text-transform: uppercase;
    font-weight: 700;
}